<!doctype HTML>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <title>Distilled: The Unopinionated Testing Framework</title>
    <meta name="description"
          content="The simplest, most flexible, nicest testing framework that you've ever used.">

    <meta property="og:title"
          content="Distilled: The Unopinionated Testing Framework">
    <meta property="og:description"
          content="The simplest, most flexible, nicest testing framework that you've ever used.">
    <meta property="og:image"
          content="https://distilledjs.com/images/banner.png">

    <link rel="icon" type="image/png" href="/images/logo-16.png">
    <link rel="icon" type="image/png" href="/images/logo-32.png">
    <link rel="icon" type="image/png" href="/images/logo-96.png">
    <link rel="icon" type="image/png" href="/images/logo-196.png">

    <link rel="stylesheet" href="/styles/main{{this.build.time}}.css">

    <link rel="stylesheet" href="/styles/codemirror.css">
    <link rel="stylesheet" href="/styles/zenburn.css">
    <link rel="stylesheet" href="/styles/foldgutter.css">

    <script type="text/javascript" src="/src/distilled.js"></script>
    <script type="text/javascript" src="/src/codemirror.js"></script>
    <script type="text/javascript" src="/src/example.js"></script>
</head>

<body>

    <nav class="HomeNav">
        <a href="/">
            <img class="HomeNav__img" src="/images/distilled-large.png" alt="distilled logo">
        </a>
    </nav>

    <main>
        <header>
            <h1>{{this.title}}</h1>
        </header>

        <!-- Nav here -->
        <section class="links Section">
            <ul class="links__list">
                <li class="links__list__item"><a href="/introduction">
                    Introduction
                </a></li>
                <li class="links__list__item"><a href="/docs/test">
                    test
                </a></li>
                <li class="links__list__item"><a href="/docs/reporter">
                    reporter
                </a></li>
                <li class="links__list__item"><a href="/docs/then">
                    then
                </a></li>
                <li class="links__list__item"><a href="/docs/assert">
                    assert
                </a></li>
                </li>
            </ul>
        </section>

        <!-- Home, etc... -->

        {{#each this.sections}}
            <section class="Section DocSection" id="{{this.title}}">
                {{#if this.visible}}
                    <h2 class="section__name">{{this.title}}</h2>
                {{/if}}

                {{#each blocks}}

                    {{#if this.isSource}}
                        <div class="example DocExample">
                            <textarea readonly>{{this.content}}</textarea>
                        </div>
                    {{else}}
                        {{{this.content}}}
                    {{/if}}
                {{/each}}
            </section>
        {{/each}}
    </main>
    <!-- 
         <nav class="HomeNav">
         <a href="/">
         <img class="HomeNav__img" src="/images/distilled-large.png" alt="distilled logo">
         <h1 class="HomeNav__link">Distilled</h1>
         </a>
         </nav>
    -->
    <script>
     document
         .querySelectorAll('.example')
         .forEach(function (code) {
             example(code);
         });
    </script>
</body>
