<!doctype HTML>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <title>Distilled: The Unopinionated Testing Framework</title>
    <meta name="description"
          content="The simplest, most flexible, nicest testing framework that you've ever used.">

    <meta property="og:title"
          content="Distilled: The Unopinionated Testing Framework">
    <meta property="og:description"
          content="The simplest, most flexible, nicest testing framework that you've ever used.">
    <meta property="og:image"
          content="https://distilledjs.com/images/banner.png">

    <link rel="icon" type="image/png" href="/images/logo-16.png">
    <link rel="icon" type="image/png" href="/images/logo-32.png">
    <link rel="icon" type="image/png" href="/images/logo-96.png">
    <link rel="icon" type="image/png" href="/images/logo-196.png">

    <link rel="stylesheet" href="styles/main{{this.build.time}}.css">

    <link rel="stylesheet" href="styles/codemirror.css">
    <link rel="stylesheet" href="styles/zenburn.css">
    <link rel="stylesheet" href="styles/foldgutter.css">

    <script type="text/javascript" src="/src/distilled.js"></script>
    <script type="text/javascript" src="/src/codemirror.js"></script>
    <script type="text/javascript" src="/src/example.js"></script>
</head>

<body>

    <div class="ForkBanner">
        <a href="https://gitlab.com/distilled/distilled">
            <img class="ForkBanner__logo" src="/images/gitlab.png" alt="Fork me on Gitlab!" />
        </a>
    </div>

    <main>
        <header>
            <img src="/images/distilled-large.png">
            <h1>Distilled</h1>
            <h2>The <em>un</em>opinionated testing framework</h2>
        </header>

        <section class="example">
            <textarea readonly>{{this.scripts.main}}</textarea>
        </section>

        <section class="download">
            <span class="node">npm install --save-dev @latinfor/distilled</span>
            <a href="/src/distilled.js" download="distilled.js" target="_blank">
                <span class="browser">download</span>
            </a>
        </section>

        <section class="about Section">
            <p>
                Distilled is the simplest, most flexible, nicest testing
                framework that you've ever used. Distilled's testing API is only
                one method. This means that Distilled is easy on beginners,
                super-extendable for experts, and designed to adapt to each
                project's unique needs.
            </p>
            <p>
                Learn more below about how Distilled's focus on elegance and
                flexibility can change the way that you think about testing.
            </p>
        </section>

        <section class="links Section">
            <ul class="links__list">
                <li class="links__list__item"><a href="/introduction">
                    Quick Start
                </a></li>
                <li class="links__list__item"><a href="/docs/test">
                    Full Docs
                </a></li>
                <li class="links__list__item"><a href="https://gitlab.com/distilled/distilled">
                    View Source
                </a>
                </li>
            </ul>
        </section>
    </main>

    <!--
         <nav class="Nav">
         <ul>
         <li class="Nav__item"><a href="/">
         Home
         </a></li>
         <li class="Nav__item"><a href="/docs">
         Documentation
         </a></li>
         <li class="Nav__item"><a href="https://gitlab.com/distilled/distilled">
         Source
         </a></li>
         </ul>
         </nav>

         test, reporters, then, assert
    -->

    <script>
     example(document.querySelector('.example'));
    </script>
</body>
